@import "../fonts/Open_Sans/OpenSans.css";

body {
  margin: 0;
}

#tabsPane {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
  background: url(../img/paneBackground.png);
  color: #bdbdbd;
  text-shadow: 0 2px #1d1d1d;
}
#tabsPane.osx {
  font-family: 'Lucida Grande', sans-serif;
  font-size: 13px;
}

.tabThumb {
  margin: 0;
  overflow: hidden;
  width: 300px;
}

.tabThumb:hover {
  cursor: pointer;
}

.tabThumb.tabHighlighted {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.28, rgb(219,219,219)),
    color-stop(0.64, rgb(255,255,255))
  );
}

.tabCapture {
  display: block;
  width: 280px;
  height: 210px;
}

.tabIcon {
  width: 16px;
  height: 16px;
  /*float: left;*/
  margin: 0 3px 0 0;
  border: 0;
}

.tabDescription {
  width: 264px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
