@import url(../fonts/Open_Sans/OpenSans.css);
body {
  margin: 0;
  padding: 0;
  background: #E5E5E5;
  overflow-x: hidden; }
  body.osx {
    font-family: 'Lucida Grande', sans-serif; }

.appleHeader {
  background-image: -webkit-linear-gradient(top, #e7e7e7 0%, #b8b8b8 100%);
  padding: 20px 0;
  border-bottom: 1px solid #696969;
  border-top: 1px solid #f1f1f1;
  text-align: center; }

.appleOddRow {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #cdcdcd; }

.appleEvenRow {
  background: #EDEDED;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #d4d4d4; }

#tabsSearch {
  display: block;
  width: 40em;
  height: 1.5em;
  margin: 0 auto;
  padding: 0px 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  border: 1px solid #8d8d8d;
  border-radius: 1em;
  outline: none;
  /* get rid of webkit outline */ }
  body.osx #tabsSearch {
    font-family: 'Lucida Grande', sans-serif;
    font-size: 14px; }
  #tabsSearch:focus {
    box-shadow: inset 0 0 3px 0 blue;
    border: 1px solid #6397ca; }

.searchWrapper {
  margin: 0 auto; }

#tabsPane {
  margin: 3em auto 0 auto;
  /* matters when width is set tabspane.js:adjustLayout() */
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #222;
  text-shadow: 0px 1px 0px #e5e5ee;
  display: none; }
  body.osx #tabsPane {
    font-family: 'Lucida Grande', sans-serif;
    font-size: 14px; }

.tabOuter {
  width: 350px;
  display: inline-block;
  min-width: 333px;
  margin-bottom: 3em; }

.tabCapture {
  display: block;
  width: 280px;
  height: 210px;
  padding: 1px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 #222;
  cursor: pointer; }
  .tabCapture:hover {
    margin: 0 auto;
    box-shadow: 0 0 2px 1px #1c55f8, inset 0 0 8px 1px #1c55f8; }
  .tabThumb.tabHighlighted .tabCapture {
    margin: 0 auto;
    box-shadow: 0 0 3px 2px #f8860c, inset 0 0 8px 2px #f8860c; }

.tabFooter {
  width: 283px;
  margin: 0 auto;
  padding-top: 0.3em; }

.tabIcon {
  width: 16px;
  height: 16px;
  float: left;
  margin: 0 3px 0 4px;
  border: 0; }

.tabDescription {
  width: 260px;
  white-space: nowrap;
  overflow: hidden;
  /* not using ellipsis because it truncates text */
  -webkit-mask-image: -webkit-linear-gradient(left, black 85%, rgba(0, 0, 0, 0) 100%); }

.tabCloseButton {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0; }

#historyPane {
  margin: 1em auto;
  overflow-x: hidden;
  -webkit-mask-image: -webkit-linear-gradient(left, black 85%, rgba(0, 0, 0, 0) 100%); }
  body.osx #historyPane {
    font-family: 'Lucida Grande', sans-serif;
    font-size: 14px; }
  #historyPane h1 {
    font-size: 1.5em;
    margin: 0 0.5em 0 0;
    float: left;
    height: 10em;
    border-right: 1px solid #767676; }
  #historyPane a, #historyPane img {
    vertical-align: middle; }
  #historyPane img {
    margin-right: 0.3em; }
  #historyPane .historyItem {
    white-space: nowrap;
    height: 1.5em;
    margin-left: 50px; }
    #historyPane .historyItem a {
      text-decoration: none; }
    #historyPane .historyItem a, #historyPane .historyItem a:visited {
      color: black; }
    #historyPane .historyItem a.grey, #historyPane .historyItem a.grey:visited {
      color: #808080; }
  #historyPane .historyItem:hover {
    background: rgba(28, 85, 248, 0.2); }
    #historyPane .historyItem:hover a {
      text-decoration: underline; }
