@import "../fonts/Open_Sans/OpenSans.css";

body {
  margin: 0;
  padding: 0 0 10em 0;
  background: #c5c5c5 url("../img/bg.jpg") ;
  overflow-x: hidden;
}

#tabsSearch {
  display: block;
  width: 40em;
  height: 1.5em;
  margin: 20px auto;
  padding: 0px 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none; /* get rid of webkit outline */

  body.osx & {
    font-family: 'Lucida Grande', sans-serif;
    font-size: 14px;
  }
  &:focus {
    border: 1px solid #BBB989;
  }
}

#tabsPane {
  margin: 0 auto; /* matters when width is set tabspane.js:adjustLayout() */
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #222;
  text-shadow: 0px 1px 0 #dbdbdb;
  display:none;
  body.osx & {
    font-family: 'Lucida Grande', sans-serif;
    font-size: 14px;
  }
}

.tabOuter {
  width: 350px;
  display: inline-block;
  min-width: 333px;
  cursor: pointer;
}

.tabThumb {
  padding-top: 3em;
}

.tabCapture {
  display: block;
  width: 280px;
  height: 210px;
  padding: 1px;
  margin: 4px auto;
  border-radius: 5px;

  .tabThumb.tabHighlighted &,
  .tabThumb:hover & {
    margin: 0 auto;
    border: 4px solid #3496f7;
    border-radius: 5px;
  }
  .tabThumb.tabHighlighted & {
    border: 4px solid #e59707;
  }
}

.tabFooter {
  width: 283px;
  margin: 0 auto;
  padding-top: 0.3em;
}

.tabIcon {
  width: 16px;
  height: 16px;
  float: left;
  margin: 0 3px 0 4px;
  border: 0;
}

.tabDescription {
  width: 260px;
  white-space: nowrap;
  overflow: hidden;
  /* not using ellipsis because it truncates text */
  -webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 100%);
}

.tabCloseButton {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0;
}